@import "tailwindcss";



.containers {
  max-width: 1282px;
  width: 100%;
  margin: 40px auto;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: red;
  color: black;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}